
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    font-size: 20px;
}

div{
    margin-bottom: 15px;
}

html, body {
    width: 100vw;
    height: auto;
}

body {
    background: rgba(0, 0, 0, 0.7);
}

#main-container{
    margin: 2rem auto;
    padding: 15px;
    width: 100rem;
    height: 50rem;
    border: 1px rgb(148, 148, 148) dashed;
    background-color: rgba(40,94,229,0.7);
    color: rgb(255,255,255);
}

.input {
    width: 10rem;
    height: auto;
}

<<<<<<< HEAD
div> input{
display: block;
}
#team-members-div{
    float: left;
    padding-right: 10px;
    border: 1px black solid;
}
#task-div{
    float:left;
    padding-right: 10px;
    border: 1px black solid;
}
#current-task-div{
    float:left;
    padding-right: 10px;
    border: 1px black solid;
=======
#output-div > div{
    display: inline-table;
    margin-right: 20px;
>>>>>>> master
}