
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: auto;
}

body {
    background: rgba(0,0,0,0.55);
}

#main-container{
    margin: 2rem auto;
    width: 100rem;
    height: 50rem;
    border: 1px rgb(148, 148, 148) dashed;
    background-color: rgba(40,94,229,0.7);
    color: rgb(255,255,255);
}

.input {
    width: 5rem;
    height: auto;
}