
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: auto;
}

body {
    background: rgba(0, 0, 0, 0.7);
}

#main-container{
    margin: 2rem auto;
    width: 100rem;
    height: 50rem;
    display: grid;
    grid-auto-columns: 5rem auto;
    grid-auto-rows: 2rem auto;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 15rem);
    border: 1px rgb(148, 148, 148) dashed;
    background: rgba(40,94,229,0.7);
    color: rgb(255,255,255);
}

#main-container .leftSideBar {
    grid-column: 1/1;
    grid-row: 1/-1;
}

#main-container .header {
    grid-column: 3/3;
    justify-items: center;
}

#main-container .form {
    display: grid;
    grid-column: 2 / span 3;
    grid-row: 2/2;
    gap: .5rem 2rem;
}

.form #register-team-member-div {
    grid-column: 2/2;
}

.form #register-task-div {
    grid-column: 3/3;
}

.form .registerAssignedTask {
    grid-column: 4/4;  
}

#main-container .list {
    grid-column: 2/ span 2;
    grid-row: 3/3;
}

#main-container #team-members-div {
    grid-column: 2/2;
}

#main-container #tasks-div {
    grid-column: 3/3;
}

#main-container #current-task-div {
    grid-column: 4/4;
}

#main-container .rightSideBar {
    grid-column: 5/5;
    grid-row: 1/4;    
}

.input {
    width: 10rem;
    height: auto;
}
